#cloud-config
users:
  - name: {{ user }}
    ssh_authorized_keys:
      - '{{ pub_key }}'
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
runcmd:
  - echo "AllowUsers {{ user }}" >> /etc/ssh/sshd_config
  - restart ssh